<ul class="list-group">
<% locals[:teams_and_scores].
     sort_by {|h,v| - v.to_i }.
     each do |team, score| %>
  <%
    ids = team.split(':')
    players = Player.find(ids)
  %>
  <li class="list-group-item">
    <%= image_tag players[0].small_mugshot, class: :mugshot %>
    <%= render 'name_with_link', locals:{player: players[0]} %>
    <div class="list-float-right">
      <%= render 'name_with_link', locals:{player: players[1]} %>
      <%= image_tag players[1].small_mugshot, class: :mugshot %>
    </div>
<% end %>
</ul>
