<ul class="list-group">
<% locals[:teams_and_scores].
     sort_by {|h,v| - v.to_i }.
     each do |team, score| %>
  <%
    ids = team.split(':')
    players = Player.find(ids)
  %>
  <li class="list-group-item">
    <%= image_tag players[0].mugshot, class: :mugshot %>
    <%= content_tag :strong, players[0].name %>
    <div class="list-float-right">
      <%= content_tag :strong, players[1].name %>
      <%= image_tag players[1].mugshot, class: :mugshot %>
    </div>
<% end %>
</ul>
