<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>All time top scorers</h1>
      <%= render 'top_scorers' %>
    </div>
    <div class="col-md-6">
      <h1>Most effective teams</h1>
      <%= render 'top_teams' %>
    </div>
  </div>
</div>
